/*
	- Name: David Klassen
	- Project: Course website for BCIT COMP 1950 
	- Work:	Alternate Style Sheet for Lecture Mode
	- File: css/lecture.css
	-
*/

/* Remove the thick left margin */
main {
    margin: 0 0 0 0px;
}

/* Remove the Nav Section */
nav {
    float: none;
	clear: left;
    width: 0px;
	display: none;
}