/*
	- Name: Mandip Sandhu
	- Project: Course website for BCIT COMP 1950 
	- Work:	Proto-Site Project DKM Styling
	- File: css/style.css
	-
*/

/* 1 - rules not determined by media queries - original stylesheet */

body {
    margin: 0;
    background-color: #ffffff;
}
#container {

	background-color: #eeeeee;
	color: #4A4033;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
    font-family: Verdana, Arial, sans-serif;
}



header {
    background-color: blue;
    height: 150px;
    color: #728FB3;
    text-align: right;
    padding: 10px 20px;
    border-bottom: 2px solid #000000;
}
nav {
    float: left;
    width: 150px;
}
aside {
    float: right;
    width: 200px;
}
main {
    margin: 0 0 0 160px;
    padding: 1px 10px 20px 10px;
    background-color: #ffffff;
    color: #4A4033;
}
footer {
    font-size: .70em;
    text-align: center;
    color: #4A4033;
    background-color: #ffffff;
    padding-top: 10px;
    clear: both;
}

/* 2 - thin clients */

@media only screen and (min-width:100px) and (max-width:800px){
	#fullscreen{		display:none;	}
	#thin{				display:block;	}

		#container, nav ul, section, aside, footer{
		width:auto;
		font-size:.90em;
		}
		
nav {
		float:none;
		width:auto;
		font-size:.90em;
		display:block;
			}
			
	nav ul li a	{
		width:100%;
		display:block;
		border-bottom: 1px solid #fff;
		padding:8px;
	}

 
aside			{
		float:none;
		width:auto;
		font-size:.90em;
		display:block;
		margin:auto;
		margin-top:50px;
		padding:5px 5px 5px 5px;
		background-color:#787878 ;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
			}
aside p {margin-left:10px;
	}

aside h2 { color:white;}

aside h3 { color:white;}
 
main { 	width:auto;
		font-size:.90em;
		display:block;
		margin:0px 0px 0px 0px;
		border:1px;
		
	}
	

}


